@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/*Lexend deca      Big Shoulders Display */
body{
    font-size: 15px;
    font-family: Lexend deca;
    display: flex;
    color: hsla(0, 0%, 100%, 0.75);
}
h3{
    color: hsl(0, 0%, 95%);
    font-size: 32px;
    text-transform: uppercase;
    font-family: Big Shoulders Display;
}

#sedans,#suvs,#luxury{
    padding: 40px;
    width: 200px;
    height: 100%;
    margin-top: 90px;   
    line-height: 25px;
    font-size: 13px;
}
#sedans{
    background-color: hsl(31, 77%, 52%);
    margin-left: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
   
}
#suvs{
    background-color: hsl(184, 100%, 22%);
}
#luxury{
    background-color: hsl(179, 100%, 13%);
    margin-right: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
button{
    margin-top: 70px;
    height: 45px;
    width: 70%;
    border: none;
    border-radius: 30px;
}
#sedansbutton,#suvsbutton,#luxurybutton{
    font-family: Lexend deca;
    border: 2px solid hsl(0, 0%, 95%);
}
#sedansbutton{
    color: hsl(31, 77%, 52%);
}
#suvsbutton{
    color: hsl(184, 100%, 22%);
}
#luxurybutton{
    color: hsl(179, 100%, 13%);;
}
#sedansbutton:hover , #suvsbutton:hover , #luxurybutton:hover{
    background-color: inherit;
    color:hsl(0, 0%, 95%);
    cursor: pointer;
}
#sedansicon,#suvsicon,#luxuryicon{
    width: 55px;
}

@media screen and (width <376px) {
    body{
        display: block;
    }
    #sedans,#suvs,#luxury{
        border-radius: 0px;
        width: 75%;
        padding-left: 40px;
       
       margin: 0px;
       margin-left: auto;
       margin-right: auto;
    }
    #sedans{
        margin-top: 50px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    #luxury{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    button{
        margin-top: 30px;
        height: 40px;
        width: 55%;
        margin-bottom: 20px;
    }
}